.wrapper, header {
    padding-left: var(--cui-sidebar-occupy-start, 0);
    padding-right: var(--cui-sidebar-occupy-end, 0);
    will-change: auto;
    width: 100%;
}

.sidebar-toggler {
    margin-left: auto;
}
